/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 7, 2023, 2:45:17 PM
    Author     : bahoann79
*/


.container-head {
    border: 1px solid #ccc;
    background-color: #f0f3f5;
}

.content-debtor-list {
    padding: 0 40px !important;
}

/* Table */

#debtorListForm {
    padding: 0;
}

.table-heading .heading-input {
    margin-bottom: 46px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table-heading .col-act {
    width: 336px;
}

.btn-debt {
    color: green !important;
    background-color: #fff !important;
    border: 1px solid #198754 !important;
}

.btn-debt:hover {
    color: #fff !important;
    background-color: #198754 !important;
    border: 1px solid green !important;
}

.btn-act {
    width: 50%;
}

/* Paging */
.paging {
    border: 1px solid #ccc;
    height: 50px;
}

.paging .paging-nav{
    margin-top: 6px;
}

.pagination .page-link {
    height: 36px;
}

.btn-paging {
    width: 240px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    color: #000;
}

.btn-paging:hover {
    background-color: #ccc;
    color: #fff;
}
