
/* 
    Created on : Mar 9, 2023, 3:07:22 PM
    Author     : bahoann79
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
}

/* FIX FLOAT */
.clear {
    clear: both;
}

img {
    max-width: 100%;
}


/* HEADER */
.header {
    font-family: monospace;
}


.container {
    width: 40%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}


/* CONTENT */
.content {
    padding: 0 28px 28px 28px;
    background-color: #fff;
    height: 80%;
}

.content .content-text {
    font-family: cursive;
    padding-top: 24px;
}

.content .content-desc {
    opacity: 0.8;
    font-size: 14px;
}

.content .content-desc a {
    text-decoration: none;
}

.content .form-item-checkbox {
    margin-left: 50px;
}

.content .form-check-label {
    padding: 3px 0 0 4px;
}

.content a.form-item-forgot {
    float: right;
    text-decoration: none;
}

.gender {
    width: 49%;
    display: inline-block;
    border: none;
    border-radius: 5px;
    height: 32px;
    text-align: center;
    color: black;
    background-color: #ccc;
    cursor: pointer;
    border: none;
}

.active {
    background-color: #198754;
    color: #fff;
    font-size: 20px;
}



