/* 
    Created on : Mar 10, 2023, 9:31:12 PM
    Author     : bahoann79
*/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f8f8f8;
}

/* FIX FLOAT */
.clear {
    clear: both;
}

img {
    max-width: 100%;
}

/* HEADER */
.header {
    font-family: monospace;
}

.container {
    width: 40%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-top: 140px;
}

/* CONTENT */
.content {
    padding: 0 28px 28px 28px;
    background-color: #fff;
    height: 440px;
}

.content .content-text {
    font-family: cursive;
    padding-top: 24px;
}

.content .content-desc {
    opacity: 0.8;
    font-size: 14px;
}



